<div>
  <h1>Login</h1>
  <form [formGroup]="signUpForm" autocomplete="off">
    <mat-form-field appearance="outline">
      <input matInput type="text" placeholder="Email">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput type="text" placeholder="Password">
    </mat-form-field>
    <div class="text-center">
      <button class="btn btn-success me-2" type="submit">Register</button>
      <button class="btn btn-success" type="button" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>